/*--------------кнопка вверх-------*/
.scrollup {
    width: 40px;
    height: 40px;
    opacity: 0.3;
    position: fixed;
    bottom: 50px;
    right: 35px;
    display: none;
    text-indent: -9999px;
    z-index: 999;
    background: url(../images/icon_top.png) no-repeat;
}
/*--------------Настройка менюхи админа-----------------*/
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}
.wrap > .container {
    padding: 70px 15px 20px;
}
/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}
@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}
.nav > li > form > button.logout:focus {
    outline: none;
}

td img{
    width: 40px;
}
#eventsAdmin td img{
    width: 75px;
}
.form_center{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.button_form {
    text-align: center;
    min-width: 75px;
    display: inline-block;
    font-family: arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: rgb(68,68,68);
    text-decoration: none;
    user-select: none;
    padding: .2em 1.2em;
    outline: none;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 2px;
    background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
    transition: all .218s ease 0s;
}
.button_form:hover {
    color: rgb(24,24,24);
    border: 1px solid rgb(198,198,198);
    background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.button_form:active {
    color: rgb(51,51,51);
    border: 1px solid rgb(204,204,204);
    background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224));
    box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
}

.resize_col{
    /*max-width: 330px;/=*/
    resize: none;
}
.width_inp{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.form_style{
    padding:20px;
    border:3px solid #66afe9;
    border-radius: 20px;
}

